/* .tile {
  border-radius: 3px;
  box-sizing: border-box;
  width: 65px;
  height: 65px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("../../public/tile_background.bmp");
  color: black;
  margin: 5px;
  user-select: none;
  position: relative;
}

.letter {
  font-size: 42px;
}

.indicator {
  font-size: 15px;
  position: absolute;
  bottom: 0px;
  right: 5px;
} */

.tile {
  box-sizing: border-box;

  position: relative;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 0px;
  margin: 2px;

  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 7px;

  font-family: "Chivo";
  font-style: normal;
  font-weight: 400;
  color: #000000;
  line-height: 36px;
  box-shadow: 0px 0px 0px #000000;
  transition: box-shadow 0.1s, top 0.1s, left 0.1s;
}

.tile:hover {
  top: -4px;
  left: -4px;
  box-shadow: 4px 4px 0px #000000;
  transition: box-shadow 0.1s, top 0.1s, left 0.1s;
}

.letter {
  position: absolute;
  width: 24px;
  height: 25px;
  top: 8px;
  left: 5px;

  font-size: 36px;

  display: flex;
  align-items: center;
  text-align: center;
}

.value {
  position: absolute;
  width: 16px;
  height: 11px;
  top: 34px;
  left: 29px;

  font-size: 13px;

  display: flex;
  align-items: center;
  text-align: right;
  justify-content: right;
}

.pickedUp {
  top: "-4px";
  left: "-4px";
  box-shadow: "4px 4px 0px #000000";
  transition: "box-shadow 0.1s, top 0.1s, left 0.1s";
  cursor: grab;
}
